extends layout

block content
  h1= title
  h3 Add Address
  form(action='/add', method='post')
    div
      label(for='street') Street address
        input(type='text', id='street', name='street')
    div
      label(for='postcode') Postal code
        input(type='text', id='postcode', name='postcode')
    div
      label(for='mode') Preferred commute method
        select(id='mode', name='mode')
          option(selected, value='transit') Public transport
          option(value='bicycling') Bike
          option(value='driving') Car
    div
      button(type='submit') Add
  div(id='map')
  h3 Top Locations
  table(id='list')

block script
  script(async defer src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&libraries=visualization&callback=initMap`)
