extends layout

block content
  h2 Office Finder
  h3 Add Address
  form(action='/add', method='post')
    div
      label(for='street') Street address
        input(type='text', id='street', name='street')
    div
      label(for='postcode') Postal code
        input(type='text', id='postcode', name='postcode')
    div
      label(for='mode') Preferred commute method
        select(id='mode', name='mode')
          option(selected, value='transit') Public transport
          option(value='bicycling') Bike
          option(value='driving') Car
    div
      button(type='submit') Add
  div(style='margin: 3em 0 1em;')
    div
      label(for='heatmapToggle') Heat Map
        input(type='radio', name='displaytype', checked='checked', id='heatmapToggle')
    div
      label(for='weightlistToggle') Top Locations
        input(type='radio', name='displaytype', id='weightlistToggle')
  div(id='map')
  table(id='list', style='display: none')

block script
  script(async defer src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&libraries=visualization&callback=initMap`)
